VITE_SUPABASE_URL=https://xlhrwqdpobhezaidcium.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhsaHJ3cWRwb2JoZXphaWRjaXVtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0MjYwNjUsImV4cCI6MjA5MDAwMjA2NX0.ZRo3SKXPicxCzZbTmgZOR9ZwWgoVb-D40s9HFiNoe4M
VITE_API_URL=http://localhost:8000/api/v1
