SUPABASE_URL=https://xlhrwqdpobhezaidcium.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhsaHJ3cWRwb2JoZXphaWRjaXVtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0MjYwNjUsImV4cCI6MjA5MDAwMjA2NX0.ZRo3SKXPicxCzZbTmgZOR9ZwWgoVb-D40s9HFiNoe4M
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhsaHJ3cWRwb2JoZXphaWRjaXVtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDQyNjA2NSwiZXhwIjoyMDkwMDAyMDY1fQ.wQgDVFWHPat33U3orjHsXMnyxbBQ5YjmuQ2nu82z_pI
JWT_SECRET=16eb713b-61d0-4775-a110-bfc48f82d434
ENVIRONMENT=development
ALLOWED_ORIGINS=["http://localhost:5173", "http://localhost:3000"]
API_PREFIX=/api/v1
